/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 août 2015, 13:57:49
    Author     : Administrateur
*/

#Container
{
    margin: auto;
    width: 350px;
    height: 300px;
   
}
form
{
    
    margin: auto;
      border-radius: 5px 20px 5px 20px;
    background: #EEA659;
    padding: 20px; 
     box-shadow: 15px 15px 8px #aaa; 
  
}
.item
{
    float: right;
    width: 160px;
}
.divItem
{
    width: 300px;
    height: 37px;
}
.bouttons
{
  width: 150px;
}