/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 août 2015, 13:57:49
    Author     : Administrateur
*/

#Container
{
    margin: auto;
    width: 500px;
    height: 300px;
    background: #EEA659;
    border-radius: 5px 20px 5px 20px;
    box-shadow: 15px 15px 8px #aaa; 
   
}
form
{
    padding: 20px; 
}
.item
{
    float: right;
    width: 150px;
   display: block;
}
.divItem
{
    width: 150px;
    display: block;
  
}
.bouttons
{
  width: 150px;
}